{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}{{ user.username }} - Notifications{% endblock %}

{% block navbar %}
<div id="navbar">
  <a class="logo" href="{% url 'index' %}">Amazon</a>
  <a class="link-nav" href="{% url 'bedrooms' %}">Bedrooms</a>
  {% if request.user.is_authenticated %}
  <a class="link-nav" href="{% url 'bookings' %}">My Bookings</a>
  <a class="link-nav" href="{% url 'user_info' %}">{{ request.user.username }}</a>
  <a class="link-nav logout-nav-link" href="{% url 'logout' %}">Logout</a>
  {% endif %}
</div>
{% endblock %}

{% block main %}
<div class="notifications">
  {% for n in data %}
  <a href="{% url 'notification' n.id %}">{{ n.title }} &DoubleLongLeftRightArrow; {{ n.created_at }}</a>
  {% endfor %}
</div>

<div class="paginator">
  <span>
    {% if data.has_previous %}
    <a class="pag" href="?page=1">&laquo; first</a>
    <a class="pag" href="?page={{ data.previous_page_number }}">previous</a>
    {% endif %}

    <span class="text">
      Page {{ data.number }} of {{ data.paginator.num_pages }}.
    </span>

    {% if data.has_next %}
    <a class="pag" href="?p={{ data.next_page_number }}">next</a>
    <a class="pag" href="?p={{ data.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}