{% extends 'base.html' %}
{% block title %}{{ user.username }} - Bookigns{% endblock %}

{% block navbar %}
<div id="navbar">
  <a class="logo" href="{% url 'index' %}">Amazon</a>
  <a class="link-nav" href="{% url 'bedrooms' %}">Bedrooms</a>
  {% if request.user.is_authenticated %}
  <a class="link-nav" href="{% url 'bookings' %}">My Bookings</a>
  <a class="link-nav" href="{% url 'user_info' %}">{{ request.user.username }}</a>
  <a class="link-nav logout-nav-link" href="{% url 'logout' %}">Logout</a>
  {% endif %}
</div>
{% endblock %}

{% block main %}
<div id="rooms">
  {% for b in data %}
  <div class="room-booking" style="background-image: url({{ b.images.0.url.url }});">
    <div class="info">
      <table>
        <tr>
          <td colspan="2" class="info-title">Info</td>
        </tr>
        <tr>
          <td class="label-value">Number</td>
          <td class="value">{{ b.bedroom.number }}</td>
        </tr>
        <tr>
          <td class="label-value">Floor</td>
          <td class="value">{{ b.bedroom.floor }}</td>
        </tr>
        <tr>
          <td class="label-value">Bathroom</td>
          <td class="value">{{ b.bedroom.bathroom }}</td>
        </tr>
        <tr>
          <td class="label-value">Bed</td>
          <td class="value">{{ b.bedroom.bed }}</td>
        </tr>
        <tr>
          <td class="label-value">Daily</td>
          <td class="value">R$: {{ b.bedroom.daily }}</td>
        </tr>
        <tr>
          <td class="label-value">Total</td>
          <td>{{ b.total }}</td>
        </tr>
        <tr>
          <td class="label-value">Start</td>
          <td>{{ b.start }}</td>
        </tr>
        <tr>
          <td class="label-value">Finish</td>
          <td>{{ b.finish }}</td>
        </tr>
        <tr>
          <td class="label-value">At</td>
          <td>{{b.created_at}}</td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
        </tr>
      </table>
    </div>
    <a class="card-button" href="{% url 'bedroom' b.bedroom.id %}">Visualizar</a>
    <a class="card-button" href="{% url 'booking_update' b.id %}">Atualizar</a>
    <a class="card-button delete" href="{% url 'booking_delete' b.id %}">Cancelar</a>
  </div>
  {% endfor %}
</div>

<div class="paginator">
  <span>
    {% if data.has_previous %}
    <a class="pag" href="?page=1">&laquo; first</a>
    <a class="pag" href="?page={{ data.previous_page_number }}">previous</a>
    {% endif %}

    <span class="text">
      Page {{ data.number }} of {{ data.paginator.num_pages }}.
    </span>

    {% if data.has_next %}
    <a class="pag" href="?p={{ data.next_page_number }}">next</a>
    <a class="pag" href="?p={{ data.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}