{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
<div id="auth">
  {% if request.user.is_authenticated %}
  <div class="user">
    Welcome,
    <a class="username" href="{% url 'user_info' %}">
      {{ request.user.username }}
    </a>
  </div>
  {% else %}
  <a class="auth login" href="{% url 'login' %}">Login</a>
  <a class="auth signup" href="{% url 'signup' %}">SignUp</a>
  {% endif %}
</div>

<div id="links">
  <div class="div-link">
    <a class="link" href="{% url 'bedrooms' %}">Bedrooms</a>
  </div>
  {% if request.user.is_authenticated %}
  <div class="div-link">
    <a class="link" href="{% url 'bookings' %}">My Bookings</a>
  </div>
  {% endif %}
  <div class="div-link">
    <a class="link" href="{% url 'about' %}">About</a>
  </div>
  {% if request.user.is_authenticated %}
  <div class="div-link">
    <a class="link logout" href="{% url 'logout' %}">Logout</a>
  </div>
  {% endif %}
</div>
{% endblock %}