/* about */

#content {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;
}

.address {
  border-collapse: collapse;
  /* width: 90%; */
}

.address td {
  padding: 10px 15px;
}

.address tr {
  border: 2px dashed var(--dark-blue-color);
} 