* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background: var(--gray-color);
}

#navbar {
  background: var(--dark-blue-color);
  height: 50px;
  padding: 0 5px;
  box-shadow: 0 0 10px 0 gray;
}

.logo,
.link-nav {
  line-height: 50px;
  color: var(--gray-color);
  text-decoration: none;
}

.logo {
  font-size: 1.4em;
}

.link-nav {
  font-size: 1em;
  margin: 0 0 0 20px;
}

.logout-nav-link {
  color: var(--orange-color) !important;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  margin-bottom: 20px;
}

.footer a {
  color: gray;
}