/* index */
#auth {
  width: 100%;
  text-align: center;
  line-height: 300px;
  background: var(--dark-blue-color);
  height: 300px;
}

.auth {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.4em;
}

.login {
  background: var(--gray-color);
  border-radius: 2px;
  color: var(--dark-blue-color);
}

.signup {
  color: var(--gray-color);
}

.user {
  color: var(--gray-color);
  font-size: 1.4em;
}

.username {
  padding: 5px 10px;
  background: var(--gray-color);
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--dark-blue-color);
  border: 2px solid var(--gray-color);
}

.username:hover {
  background: var(--dark-blue-color);
  color: var(--gray-color);
  border: 2px solid var(--gray-color);
  border-radius: 2px;
}

#links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.div-link {
  margin: 100px 0 60px 10px;
}

.link {
  padding: 10px 15px;
  background: var(--dark-blue-color);
  margin: 10px 0;
  color: var(--gray-color);
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 2px;
  border: 2px solid var(--dark-blue-color);
}

.link:hover {
  background: var(--gray-color);
  border: 2px solid var(--dark-blue-color);
  color: var(--dark-blue-color);
}

.logout {
  background: #f7f7f7 !important;
  color: var(--dark-blue-color) !important;
  border: 2px solid var(--dark-blue-color);
  border-radius: 2px;
}

.logout:hover {
  background: var(--orange-color) !important;
  color: var(--gray-color) !important;
  border: 2px solid var(--orange-color) !important;
  border-radius: 2px;
}